# TikTok Configuration
TIKTOK_SESSIONID_SS=your_session_id_here
TIKTOK_IDC=useast2a
TIKTOK_PROXY=

# Recorder Configuration
# Set to 'true' to keep the raw .flv file after conversion
KEEP_FLV=false
# Output format: 'mp4' (Compatible) or 'mkv' (Safe/Robust)
RECORDER_FORMAT=mp4
USE_SEGMENTATION=true

FFMPEG_PATH=
FFPROBE_PATH=

# Telegram Configuration
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHAT_ID=me
TELEGRAM_SESSION=